<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>
    <div id="ContenedorPrin"> 

        <div class="personajes">
            <img src="/portada/nivel2.svg">
            <img src="/portada/nivel3.svg">
        </div>
        <div class="pizarrafinal">
            <img src="/portada/pizarracp.svg" alt="Pizarra Final">
        </div>

        <div class="creditos">
            <img src="/portada/creditos.svg" alt="creditos">
        </div>
        
    
  </div>

</body>
</html>


<style>
    .personajes img {
        height: 80%;
        width: auto;
        position: relative;
    }
    .personajes {
        
        grid-column: 14 /  21; 
        grid-row: 9 /  14;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        z-index: 5;
        padding-right: 6.5%;
    }
    .creditos img {
        height: 100%;
        position: relative;
        left: 2%;

    }
    .creditos {
        grid-column: 22 /  31; 
        grid-row: 2 /  14;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .pizarrafinal img {
       height: 101%;
       padding-bottom: 3.2%;
       position: relative;
         left: -2.5%;
    }
    .pizarrafinal {
        display: flex;
        grid-column: 2 /  22; /* Ocupa las 30 columnas */
        grid-row: 1 /  15;    /* Ocupa las 14 filas */
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-items: center;
    }
       
    body {

    background-color: #d1d1d1;
    margin: 0;
    padding: 0;
    /* --- CONFIGURACIÓN DE LA IMAGEN DE FONDO --- */
    background-image: url('/bg/fondoazul.svg'); 
    /* Asegura que la imagen cubra toda la pantalla sin repetirse y esté centrada */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Evita que el fondo se mueva si hay scroll */

    /* --- CONFIGURACIÓN DEL CENTRADO DEL CONTENEDOR --- */
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    height: 100dvh; /* Usamos alto dinámico */
    width: 100vw;
    overflow: hidden;
    }

    #ContenedorPrin {
            display: grid;
            width: 1400px;
            height: 650px;
            overflow: visible;

        

            /* Definición de Columnas: 30 módulos de 41.12px y 29 medianiles de 5.74px */
            grid-template-columns: repeat(30, 41.12px);
            column-gap: 5.74px;

            /* Definición de Filas: 14 módulos de 41.12px y 13 medianiles de 5.74px */
            grid-template-rows: repeat(14, 41.12px);
            row-gap: 5.74px;

            /* Opcional: para visualizar la retícula durante el diseño */
            /* outline: 1px solid red; 
    background-image: 
        linear-gradient(to right, rgba(0,0,0,0.1) 41.12px, transparent 5.74px),
        linear-gradient(to bottom, rgba(0,0,0,0.1) 41.12px, transparent 5.74px);
    background-size: calc(41.12px + 5.74px) calc(41.12px + 5.74px); */
        }